#projects {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding: 50px 0;
    background-color: var(--secondary-color);
}

.project-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.project {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em; */
    max-width: 70%;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.project-description h3 {
    color: var(--main-brand-color);
}

video {
    width: 400px;
    height: 300px;
}

.hidden {
    display: none;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.slider:hover {
    cursor: pointer;
}

.slider img {
    width: 100%;
    height: 100%;
}

.video-container {
    /* position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0; */
    /* width: 100%;
    height: 56,25%; */
    min-width: 50%;
}

.video-container iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    width: 40em; /* w: 40em, h: 22.5em */
    height: 22.5em;
}

.flip-circle {
    background-color: transparent;
    width: 19rem;
    height: 19rem;
    perspective: 1000px;
}

.flip-circle-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-circle:hover .flip-circle-inner {
    transform: rotateY(180deg);
}
  
.flip-circle-front, .flip-circle-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-circle-front {
    background-color: var(--main-brand-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.flip-circle-back {
    background-color: var(--secondary-text-color);
    color: var(--text-color);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-circle-back a {
    text-decoration: none;
    color: var(--text-color);
}

.flip-circle-back ul {
    text-align: left;
    max-width: 70%;
}

@media(max-width: 800px) {
    .project {
        flex-direction: column;
    }
}